# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\新季度\Project\离散数学\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
